**/*~
**/#*#
**/.*
**/a.out
**/__pycache__
adas/**/*.cpp
docs/*
logs/*
sphinx-docs/*
pyadas.egg-info/*
pytestdebug.log
.tox/*
pyproject.toml
Pipfile
Pipfile.lock
dist/*
env/*
test/**/a.out
obj/*
tests/data/*
tests/learn/*
tests/base/parallel/*
tests/sort/tmp.txt
include/bst_node.hpp
build/*
tests/algorithm/sort/serial/tmp/*
tests/algorithm/search/serial/tmp/*
