**/*~
**/#*#
**/.*
**/a.out
**/__pycache__
docs/*
sphinx-docs/*
pyadas.egg-info/*
pytestdebug.log
.tox/*
pyproject.toml
Pipfile
Pipfile.lock
dist/*
env/*
test/**/a.out
obj/*
test/data/*
test/base/parallel/*
test/sort/tmp.txt
include/bst_node.hpp
build/*
test/algorithm/sort/serial/tmp/*
test/algorithm/search/serial/tmp/*
